*.metadata
*.class
*.recommenders
*.xml
*.html
*.gen

*.metadata/.plugins/
.metadata/
.recommenders/
.metadata/*
.metadata/**
/.metadata/*
/.recommenders/
.recommenders/*
interviewair_web/test-output/
.metadata/.plugins
.metadata/.lock
.metadata/.log